<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>
	LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQ0lqQU5CZ2txaGtpRzl3MEJBUUVG
	QUFPQ0FnOEFNSUlDQ2dLQ0FnRUEyR1BPQzVXdG16eVdkN3VZWnJiNwpNMDlVSklnK21Z
	TS9qdXFuczBsdWZnRHI4SEZBN3UyQlF1ZTFyNjJKK1FiUGlFL2FpS29QUFR5d2tkUzVQ
	c0FwCmdXc09FSTZnalNVeXdRUmtXdWh5LzV6dVM0S2hDM1loZFpnUUN0VDJjZWZGSW9m
	VDc4cmRZdW53c3REZnV2SloKd1dKNTNBQ2YrV09jaHhxeGZabFI3dzF2VnFaSXg4bWpD
	ZjBWc2p0UEpuMnFrbUh4eGlMQ0ttV1lSZ1lyTkhVWQpQQ05WY1F3b3h1Q3AvbnRydStn
	WWZrSlBwOUFSeWk5K09xejNkYTNseFFnYWZBWHNJRk03S0xnUjl4SVlUdkg0CmlCNU9F
	TFhHWklMVGFBNGlON1M0ODRQRU5ja280cW14YlRMZ2VOUFJlcjViS2R4K2NCT0RtRTBT
	WTRlME1aYVMKc3QzUFdXWW1uSGpZd3BYNnI1VXZMOFhwUXpEQWlLdVh2TXlwV3BjRThz
	NzRlcWk2emhXNm9LTElPdGsyQVRmRgplSEI2TjliT0xBcm5iYUdCdWllMElKM3YvYVFx
	aGl3ZlVhU1IxQ1BDL1hBL3M3UUE3OUo2Q2pHazdKYmYwcnhECkxKelVRNzE1M05hL0hr
	N3pwOSsyK1FNRG9hbzJHY1NMS3lydE4wWWN3SzhqUmlQSWwya0ovb2F3Q1RtTWdvTlUK
	dHpkRGZVb2x0NlAxaGZPaUZNMGIwWDRISC9veTg5ZjR6VHNBVnFubGltTGhwejhOOHFZ
	UU1xQVVkZGRWalBQMQpFaTN5R0ZOd0wzMDYvV0hpcSs0d3FVNVhMNVFKR1E5cjNQNERN
	c0tUSVRIajI3aUcwb2h4eU9PL3ZISDBqZG9kClJGdmJ2cjF4WUtGMFBOMUNCQUNSS0hj
	Q0F3RUFBUT09Ci0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQo=
	</data>
	<key>public-key-size</key>
	<integer>4096</integer>
	<key>signature-by</key>
	<string>Z Linux (SrDicov/z-repo)</string>
</dict>
</plist>
